html{
    background-image: url(3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
h1{
color:red;


}
form{
    text-align:center;
color:green}
